* {
    margin: 0;
}

:root {
    --black: hsl(240, 6%, 13%);
    --gray: hsla(240, 9%, 89%, 1);
}

html, body {
    height: 100%;
    font-family: Roboto, sans-serif;
    -webkit-font-smoothing: antialiased;
}

@media (max-width: 1080px) {
    html {
        font-size: 93.75%;
        background: url(images/desktopbackground.svg) no-repeat center/cover;
        width: 100vw;
        min-height: 812px;
        height: 100vh;
        z-index: 1;
    }

    #userPhoto {
        margin-top: 2rem;
    }

    .avatar span {
        position: absolute;
        top: 5px;
        z-index: 1;
    }

}

@media (max-width: 720px) {
    html {
        font-size: 83.5%;
        background: url(images/background.svg) no-repeat center/cover;
    }  
}

body {
    display: grid;
    place-items: center;
    background: linear-gradient(to right, rgb(223, 22, 172), orange);
}

main {
    background: url(images/desktopbackground.svg) no-repeat center/cover;
    width: 100vw;
    min-height: 812px;
    height: 100vh;
    text-align: center;
    
    
    color: var(--gray);
}

.container {
    max-width: 250px;
    margin: auto;
}

.avatar {
    width: 10rem;
    margin: 11.5rem auto 0;

    position: relative;
}

.avatar span {
    position: absolute;
    top: -15px;
    z-index: 1;
}

.avatar > img {
    width: 10rem;
    height: 11.5rem;
    object-fit: cover;

    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.profile:hover {
    filter: saturate(2);
    transition-duration: 0.5s;
}

h1 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

a {
    color: var(--grey);
    text-decoration: none;

    margin-top: 0.25rem;

    display:flex; 
    gap: 0.75rem;

    justify-content: center;
    align-items: center;
}

p {
    margin-top: 2rem;
}

ul {
    margin-top: 4rem;

    list-style: none;
    padding: 0;

    display: flex;
    gap: 0.5rem;

    justify-content: center;
}

li:hover {
    filter: saturate(3);
    transition-duration: 0.5s;
}

li img:hover {
    transition: transform 0.5s;
    transform: translateX(0) scale(1.2);  
}

.github:hover {
    font-size: 1rem;
    color: #A879AE;
    transition: transform 0.5s;
    transform: translateX(0) scale(1.2);
}

